<nav class="navbar">
    <div class="navbar-top">
        <div class="navbar-top-item logo">
            <a href="/" class="logo">Midnight</a>
        </div>
        <div class="navbar-top-item cart">
            <a href="/cart">Cart ({{ cart.item_count }})</a>
        </div>
    </div>

    <div class="navbar-bottom">
        <div class="menu">
            <ul class="menu-items">
                <li><a href="/collections/all">Shop</a></li>
                <li><a href="/pages/about">About</a></li>
                <li><a href="/pages/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
