<nav class="navbar">
    <div class="logo">
        <a href="/" class="logo">Midnight</a>
    </div>

    <div class="menu">
        <ul class="menu-items">
            <li><a href="/collections/all">Shop</a></li>
            <li><a href="/pages/about">About</a></li>
            <li><a href="/pages/contact">Contact</a></li>
        </ul>
    </div>
        
    <div class="cart">
            <a href="/cart">Cart ({{ cart.item_count }})</a>
    </div>
</nav>