<div class="hero hero-image">
    <div class="hero-text">
        <div class="hero-tagline">
            <div class="hero-tagline-top">{{ section.settings.heading-top }}</div>
            <div class="hero-tagline-bottom">{{ section.settings.heading-bottom }}</div>
        </div>
            <a href="/collections/all" class="hero-button">
                    Explore our collection <span class="arrow">→</span>
            </a>
    </div>
</div>


{% schema %}
{
    "name": "Hero Section",
    "settings": [
        {
        "type": "text",
        "id": "heading-top",
        "label": "Heading",
        "default": "Meet me at"
        },
        {
        "type": "text",
        "id": "heading-bottom",
        "label": "Heading-bottom",
        "default": "Midnight."
        },
        {
        "type": "url",
        "id": "button_link",
        "label": "Button Link",
        "default": "/collections/all"
        },
        {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Shop Now"
        }
    ]
}
{% endschema %}