@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Lavishly+Yours&family=Passions+Conflict&display=swap');

/* Color Palette */

:root {
    --white: #F0FFFF;
    --black: #000000;
    --dark-gray: #172531;
    --light-gray: #D4D4D4;
    --blue: #89CFF0;
    --indigo: #002D70;
}

/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    background: var(--black);
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

.navbar {
    display: flex;
    flex-direction: column;
    padding: 1rem 4rem;
    background-color: var(--black);
}

/* Top Row */

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.navbar-top-item {
    display: flex;
}

.navbar-top-item.logo {
    font-family: 'DM Mono', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 300;
    color: var(--white);
}

.navbar-top-item.cart a {
    font-family: 'DM Mono', monospace;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--white);
    transition: color 0.3s ease;
}

.navbar-top-item.cart a:hover {
    color: var(--indigo);
}

/* Bottom Row */

.navbar-bottom {
    border-top: 1px solid var(--blue);
    padding: 1rem 0;
}

.menu {
    display: flex;
}

.menu-items {
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: 0;
    margin: 0;
}

.menu-items li a {
    font-family: 'DM Mono', monospace;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--white);
    transition: color 0.3s ease;
}

.menu-items li a:hover {
    color: var(--indigo);
}

/* Hero Section */

.hero {
    height: 60vh;
    padding: 1rem 4rem;
}

.hero-image {
    background-image: url('./banner-image.png');
    background-size: cover;
    background-position: center;
    padding: 4rem;
}

.hero-tagline {
    display: flex;
}

.hero-tagline-top {
    font-family: 'DM Mono', monospace;
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: -2px;
    position: relative;
    color: var(--white)
}

.hero-tagline-bottom {
    color: var(--light-gray);
    font-family: 'Lavishly Yours', serif;
    font-size: 7rem;
    text-transform: lowercase;
    position: absolute;
    left: 375px;
}

.hero-button {
    font-family: 'DM Mono', monospace;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: var(--indigo);
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 3px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.hero-button:hover {
    background-color: var(--blue);
    color: var(--black);
}

.hero-button .arrow {
    margin-left: 8px;
}

/* Featured Products Section */

.featured-products {
    padding: 1rem 0;
    background-color: var(--black);
}

.featured-products__title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--light-gray);
    font-family:'DM Mono', monospace;
    text-transform: uppercase; 
}

.featured-products__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.featured-product {
    text-align: center;
    padding: 2rem;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    background-color: var(--black);
}

.featured-product img {
    width: 70%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 3px;
}

.product-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--light-gray);
    font-family: 'Lavishly Yours', serif;
    text-transform: lowercase;
}

.featured-product p {
    font-size: 1rem;
    color: var(--blue);
    margin-bottom: 1.5rem;
}

.featured-product .btn {
    font-family: 'DM Mono', monospace;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: var(--indigo);
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 3px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.featured-product .btn:hover {
    background-color: var(--blue);
    color: var(--black);
}

/* Collection Page Styles */

.collection-page {
    margin: 1rem 4rem;
}

.collection-title {
    font-size: 3rem;
    font-family: 'DM Mono', monospace;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--white);
}

/* Product List Styles */

.product-card {
    gap: 2rem;
    padding: 1rem;
    border-bottom: 1px solid var(--light-gray);
}

.product-link {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    color: inherit;
}

.product-title {
    font-size: 1.5rem;
    font-family: 'DM Mono', monospace;
    text-transform: uppercase;
    margin: 0;
}

.product-price {
    font-size: 1.2rem;
    font-family: 'DM Mono', sans-serif;
    color: var(--blue);
    margin-top: 0.5rem;
}

/* Product Page Styles */

.product-page {
    margin: 1rem 4rem;
}

.product-title {
    font-size: 4rem;
    font-family: 'DM Mono', monospace;
    text-transform: uppercase;
}

.product-display {
    display: flex;
}

.product-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
}

.product-details {
    margin: 0 2rem;
}

.product-price {
    font-size: 1.5rem;
    color: var(--blue);
    font-family: 'DM Mono', sans-serif;
    margin-top: 2rem;
}

.product-description p {
    font-size: 1.2rem;
    color: var(--white);
    font-family: 'DM Mono', monospace;
}

/* Add to Cart Button */

.add-to-cart-button {
    font-family: 'DM Mono', monospace;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: var(--indigo);
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 3px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 2rem;
}

.add-to-cart-button:hover {
    background-color: var(--blue);
    color: var(--black);
}

/* Ingredient Section Styles */

.product-ingredients {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ingredient-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    max-width: 800px;
}

.ingredient-group {
    display: flex;
    flex-direction: column;
    
}

.ingredient-section-title {
    font-size: 4rem;
    font-family: 'Lavishly Yours', monospace;
    color: var(--blue);
    margin-bottom: 1rem;
    text-transform: lowercase;
}

.notes-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notes-list li {
    font-size: 1rem;
    font-family: 'DM Mono', sans-serif;
    color: var(--light-gray);
    margin-bottom: 0.5rem;
}

/* Cart Page Styles */

.cart-page {
    margin: 2rem 4rem;
    color: var(--white);
}

.cart-title {
    font-size: 3rem;
    font-family: 'DM Mono', monospace;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.cart-table {
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: 2rem;
}

.cart-table-header {
    background-color: var(--dark-gray);
    color: var(--white);
    text-align: left;
}

.cart-table-heading {
    font-size: 1.2rem;
    font-family: 'DM Mono', monospace;
    text-transform: uppercase;
    padding: 1rem;
    border-bottom: 1px solid var(--light-gray);
}

.cart-item {
    border-bottom: 1px solid var(--light-gray);
}

.cart-item-product {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.cart-item-details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-item-title {
    font-size: 1rem;
    font-family: 'DM Mono', monospace;
    color: var(--white);
}

.cart-item-quantity,
.cart-item-price,
.cart-item-total {
    font-size: 1rem;
    font-family: 'DM Mono', monospace;
    color: var(--light-gray);
    padding: 1rem;
}

.cart-summary {
    text-align: right;
    margin-top: 1rem;
}

.cart-total {
    font-size: 1.5rem;
    font-family: 'DM Mono', monospace;
    margin-bottom: 1rem;
}

.checkout-button {
    font-family: 'DM Mono', monospace;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: var(--indigo);
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 3px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: var(--blue);
    color: var(--black);
}

.cart-empty {
    font-size: 1.5rem;
    text-align: center;
    color: var(--light-gray);
}

/* Footer Styles */

.footer-content {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 40px 20px;
    border-top: 1px solid var(--mid-gray);
}

.footer-content p {
    font-family: 'DM Mono', monospace;
    font-size: 1rem;
    margin-bottom: 20px;
    color: var(--mid-gray);
}

.footer-content .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-content .social-links li {
    display: inline;
}

.footer-content .social-links li a {
    font-family: 'DM Mono', monospace;
    font-size: 1rem;
    color: var(--blue);
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.footer-content .social-links li a:hover {
    color: var(--indigo);
}